<h1>So, you forgot you password huh?</h1>

<%= simple_form_for :user, url: password_resets_path, html: { class: 'form-vertical' } do |f| %>
  <fieldset>
    <legend>Give us your email address, and we'll see what we can do</legend>
    <%= f.input :email %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Help me out!', class: 'btn btn-primary' %>
    <%= link_to 'Nevermind, I remember', login_path %>
  </div>
<% end %>
