Hi <%= @user.full_name %>

You're receiving this email because you indicated that you've forgotten your password.

If you visit this link, you'll be able to reset your password.

No need to thank us, it's all in a day's work!