<h1>Editing meeting</h1>

<%= simple_form_for @meeting, :url => admin_meeting_path(@meeting) do |f| %>
	<fieldset>
		<%= render 'form', :f => f %>
		<%= f.button :submit, 'Update meeting' %>
	</fieldset>
<% end %>

<p><%= link_to 'â† Back', :back %></p>
