<h1>New Meeting</h1>

<%= simple_form_for @meeting, url: admin_meetings_path do |f| %>
  <fieldset>
    <%= render 'form', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Create meeting', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
