<h1>Admin Home</h1>

<p>
	Welcome to the Teacher Ducklings Administrative Dashboard! Here you'll be able to add/edit users, publish posts
	complete with links and attachments, watch/upload videos, review videos, and schedule meetings to have a video 
	conference on TokBox while watching an uploaded video.
</p>

<p>
	Please use the buttons above to navigate your way around, and notice the upcoming meetings, and recently uploaded
	videos to your right.
</p>