<div class="video-review">
	<% if review.pdf? -%>
		<div class="float-right">
			<%= link_to image_tag("/images/icons/pdf_48.png"), review.pdf.url %>
		</div>
	<% end -%>
	
	<h4>Reviewed By: <%= review.user.full_name %> <%= time_ago_in_words(review.updated_at) %> ago</h4>

	<p>
		<strong>Description:</strong> <%=h review.description %>
	</p>
	<div class="clear"></div>
</div>