<h1>Review a Video</h1>

<%= simple_form_for @review, :url => admin_reviews_path, :html => { :multipart => true } do |f| %>
	<fieldset>
		<%= render 'form', :f => f %>
		<%= f.button :submit, 'Create review' %>
	</fieldset>
<% end %>

<%= link_to 'â† Back', :back %>