/******************************************************************
 * Reset
 ******************************************************************/

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font-family: verdana, sans-serif;
	background: #fff;
}

a, a:visited {
	outline: none;
	font-weight: inherit;
	text-decoration: underline;
	color: #33f;
}

a img {
	border: none;
}

img.profile_pic {
	padding: 3px;
	background: #fff;
	border: 1px solid #999;
	margin-right: 12px;
	float: left;
}


/******************************************************************
 * Table
 ******************************************************************/

table {
	border-collapse: collapse;
	margin-bottom: 14px;
}

td, th {
	padding: 6px;
}

th { background: #aaa; }


/******************************************************************
 * Utility
 ******************************************************************/
 
.float-left {
	float: left;
	margin: 0 24px 24px 0;
}

.float-right {
	float: right;
	margin: 0 0 24px 24px;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.inner {
    padding: 10px;
}


/******************************************************************
 * Type
 ******************************************************************/

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 24px;
}

ul, ol {
	margin-bottom: 24px;
}

li {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 16px;
	line-height: 24px;
	margin-left: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
	color: #3e3e3e;
	margin-bottom: 24px;
	letter-spacing: -1px;
}

h1 {
	font-size: 42px;
	line-height: 63px;
}

h2 {
	font-size: 32px;
	line-height: 48px;
}

h3 {
	font-size: 24px;
	line-height: 36px;
}

h4, h5, h6 {
	font-size: 16px;
	line-height: 24px;
}

.error, .notice, .success {
	padding: 12px;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.error {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}
.error a {
	color: #8a1f11;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}
.notice a {
	color: #514721;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.success a {
	color: #264409;
}


/******************************************************************
 * Video player
 ******************************************************************/

a#player {
	display: block;
	width: 640px;
	height: 360px;
}

a#admin_player {
	display: block;
	width: 480px;
	height: 270px;
}


/******************************************************************
 * Forms
 ******************************************************************/

fieldset {
	padding: 20px;
	background: #f7f7f7;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#F7F7F7));
	border: 1px solid #ccc;
	margin-bottom: 20px;
	width: 350px;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	box-shadow: 0 1px 6px #e2e2e2;
	-moz-box-shadow: 0 1px 6px #e2e2e2;
	-webkit-box-shadow: 0 1px 6px #e2e2e2;
}

legend {
	font-size: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 0;
	line-height: 1;
	font-size: 13px;
}

label.check_boxes {
	margin-bottom: 6px;
}

label.collection_check_boxes {
  display: block;
  margin-top: 0;
  margin-right: 10px;
}

label.collection_check_boxes:after {
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
}

label.required abbr {
	color: red;
	border: none;
}

.hint {
	display: block;
	color: #666;
	font-size: 11px;
}

span.error {
	display: block;
	padding: 3px;
	color: #8a1f11;
	background: #fbe3e4;
	border: 2px solid #fbc2c4;
	font-size: 11px;
}

div.boolean label.boolean { display: inline; }

div.input {
	margin-bottom: 24px;
}

input {
	font-size: 13px;
	padding: 2px;
	margin: 4px;
}

input.check_boxes {
  display: block;
  float: left;
  margin-bottom: 6px;
}

input[type=submit] {
	display: block;
	margin: 24px 0 16px;
}

input.post-title {
	font-size: 22px;
}

.fieldWithErrors input {
  border: 2px solid red;
}

#errorExplanation {
  width: 300px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*
 * Custom large buttons
 * Adapted from http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
 */

a.large_button, .large_button {
  background: #81a929 url('/images/button-overlay.png') repeat-x;
  display: inline-block;
  padding: 8px 14px 9px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
	font-weight: bold;
  line-height: 1;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
}

a.large_button:hover, .large_button:hover {
	background-color: #466d17;
}

a.large_button:active, large_button:active {
	margin-top: 2px;
}


/******************************************************************
 * Page
 ******************************************************************/

#main-body {
	padding: 20px;
}

#footer {
	margin-top: 60px;
	padding: 20px;
	border-top: 3px solid #333;
	text-align: center;
}


/******************************************************************
 * Listings
 ******************************************************************/

div.resource-row {
	padding: 6px;
	border-bottom: 3px solid #aaa;
	font-size: 12px;
}

div.resource-row:hover { background-color: #fff6bf; }

.even { background-color: #edf3fe; }

div.resource-row h4 {
	margin-bottom: 3px;
}

.show, .edit, .delete { padding: 0 18px; }
.show { background: transparent url("/images/icons/search_16.png") left no-repeat; }
.edit { background: transparent url("/images/icons/paper&pencil_16.png") left no-repeat; }
.delete { background: transparent url("/images/icons/cancel_16.png") left no-repeat; }

li.upcoming { 
	list-style-type: none;
}


/******************************************************************
 * Misc
 ******************************************************************/

.profile-pic {
	float: left;
	margin-right: 12px;
	padding: 10px;
	background: #eee;
}


/******************************************************************
 * Meetings calendar
 ******************************************************************/

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* Calendar tooltips */

#tooltip {
	position: absolute;
	z-index: 3000;
	background: transparent url('/images/tooltip.png') no-repeat;
	height: 70px;
	width: 160px;
	padding: 25px;
	text-align: center;
}

#tooltip h3, #tooltip div { 
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	line-height: 16px;
	letter-spacing: normal;
}


/* Reviews */

#reviews .video-review {
  width: 620px;
  border: 1px solid #f5f5f5;
  padding: 10px;
}
