/******************************************************************
 * Reset
 ******************************************************************/

body {
	text-align: center;
  font-family: verdana, sans-serif;
	background: #fff url("/images/body-bg.png") top left repeat-x;
}


/******************************************************************
 * Page
 ******************************************************************/

#page-wrap {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

#header {
	position: relative;
	color: #fff;
	text-align: right;
	height: 250px;
}

#header a {
	color: inherit;
}

#primary-content {
	width: 665px;
	float: left;
}

.video-review {
	margin-bottom: 12px;
	padding: 4px;
	border-bottom: 1px dashed #b1b1b1;
}


/******************************************************************
 * Secondary Content
 ******************************************************************/

#secondary-content {
	width: 240px;
	margin-left: 10px;
	float: right;
	border-left: 1px solid #f2f2f2;
}

#secondary-content p, #secondary-content li {
	color: #555;
	font-size: 12px;
	line-height: 16px;
}

#secondary-content a, #secondary-content a:visited {
	color: #000;
	text-decoration: underline;
}

#secondary-content a:hover, #secondary-content a:active {
	color: #fff;
	background: #000;
}

#secondary-content h1, #secondary-content h2, #secondary-content h3, #secondary-content h4, #secondary-content h5 {
	font-weight: bold ;
}

#secondary-content p.facebook {
	height: 52px;
	padding: 4px 0 0 52px;
	background: transparent url("/images/icons/social/facebook.png") left no-repeat;
	border-top: 1px solid #eee;
}

#secondary-content p.uo-ed {
	height: 52px;
	padding: 4px 0 0 52px;
	background: transparent url("/images/icons/oregon-o.png") left no-repeat;
	border-top: 1px solid #eee;
}

#secondary-content p.feed {
	height: 52px;
	padding: 4px 0 0 52px;
	background: transparent url("/images/icons/rss_48.png") left no-repeat;
	border-top: 1px solid #eee;
}

li.category-link {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 24px;
}

h5.link-name {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0;
	border-bottom: 1px dotted #ccc;
}


/******************************************************************
 * Posts
 ******************************************************************/

.post_title  {
	color: green;
	margin: 0;
}

.post_title a, .post_title a:visited {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

.post_time {
	color: #999;
	font-size: 12px;
	margin-top: -6px;
}

.post_time a, .post_time a:visited {
	color: inherit;
}

.post_body li {
	margin-left: 36px;
}

#comments {
	padding: 18px 0;
	margin-bottom: 36px;
}

.comment {
	margin-bottom: 8px;
	padding: 4px;
	border-bottom: 1px dashed #b1b1b1;
}

.comment p {
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

.comment-body {
	width: 560px;
	float: right;
}

.comment-pic {
	float: left;
	margin-right: 12px;
	width: 60px;
	height: 60px;
}

.comment-pic img {
  width: inherit;
  height: inherit;
	padding: 3px;
	background: #fff;
	border: 1px solid #b1b1b1;
}


/******************************************************************
 * Navigation
 ******************************************************************/

#nav {
	position: absolute;
	top: 217px;
	left: 20px;
}

#nav ul li {
	display: inline;
	float: left;
	margin: 0 1px;
	padding: 4px 10px;
	font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
	font-size: 18px;
	color: #333;
	background: #fff url("/images/input-bg.gif") top left repeat-x;
  border-top: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;

	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
}

#nav ul li:hover {
	background: #fff;
}
