/******************************************************************
 * Page
 ******************************************************************/

#header {
	color: #fff;
	background: #222;
	padding: 10px;
}

#header a {
	color: inherit;
}

#header h2 {
	margin-bottom: 0;
	color: #666;
}

#primary-content {
	float: left;
	width: 75%;
}


/******************************************************************
 * Secondary Content
 ******************************************************************/

#secondary-content {
	float: right;
	width: 20%;
	padding-left: 20px;
	border-left: 1px solid #f2f2f2;
}

#secondary-content a, #secondary-content a.visited {
	color: inherit;
	font-weight: bold;
}

#secondary-content a:hover, #secondary-content a.active {
	color: #fff;
	background: #111;
}

#secondary-content h3 {
	border-bottom: 1px solid #b1b1b1;
}

#secondary-content li {
	font-size: 12px;
	list-style-type: none;
	margin-left: 30px;
}


/******************************************************************
 * Navigation
 ******************************************************************/

#nav ul {
	margin-bottom: 0;
}

#nav ul li {
	display: inline;
	float: left;
	margin: 0 2px;
	padding: 4px 14px;
	font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
	font-size: 18px;
	color: #333;
	background: #fff url("/images/input-bg.gif") top left repeat-x;
  border-top: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;

	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

#nav ul li:hover {
	background: #fff;
}