/******************************************************************
 * Page
 ******************************************************************/

#header {
	color: #fff;
	background: #222;
	padding: 10px;
}

#header a {
	color: inherit;
}

#header h2 {
	margin-bottom: 0;
}

#main-body {
	width: 960px;
	margin: 0 auto;
}