<h1>Editing link</h1>

<% simple_form_for @link, :url => admin_link_path(@link), :html => { :multipart => true }, :method => :put do |f| %>
  <fieldset>
		<%= render 'form', :f => f %>
		<%= f.button :submit, 'Update link' %>
	</fieldset>
<% end %>

<%= link_to 'â† Back', :back %>