<h1>Editing link</h1>

<%= simple_form_for @link, url: admin_link_path(@link), html: { multipart: true, class: 'form-vertical' } do |f| %>
  <fieldset>
    <%= render 'form', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Update link', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
