<h1>Create a New Link</h1>

<% simple_form_for @link, :url => admin_links_path, :html => { :multipart => true }, :method => :put do |f| %>
  <fieldset>
		<%= render 'form', :f => f %>
		<%= f.button :submit, 'Create link' %>
	</fieldset>
<% end %>

<%= link_to 'â† Back', :back %>