<h1>Editing Post</h1>

<%= simple_form_for @post, url: admin_post_path(@post), html: { class: 'form-vertical' } do |f| %>
  <fieldset>
    <%= render 'form', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Update post', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
