<h1>All Posts</h1>

<%= link_to 'New post', new_admin_post_path, class: 'btn btn-success btn-large' %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render 'admin/posts/post', post: post %>
  <% end %>
</div>
