<h1>New category</h1>

<%= simple_form_for @category, url: admin_categories_path, html: { class: 'form-vertical' } do |f| %>
  <fieldset>
    <%= render 'form', :f => f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Save category', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
