<h1>New category</h1>

<% simple_form_for @category, :url => admin_categories_path do |f| %>
	<fieldset>
		<%= render 'form', :f => f %>
		<%= f.button :submit, 'Save category' %>
	</fieldset>
<% end %>

<p><%= link_to 'â† Back', :back %></p>