<h1>Create New User</h1>

<%= simple_form_for @user, url: admin_users_path, html: { multipart: true, class: 'form-vertical' } do |f| %>
  <fieldset>
    <legend>User details</legend>
    <%= render 'form', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Save user', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
