<h1>Update Your Review</h1>

<% form_for @review, :html => { :multipart => true } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<p>
	<%= link_to 'Cancel', reviews_path %>
</p>